.erreur {
    border-style: dotted;
    color: red;
}

.succes {
    border-style: dotted;
    color: green;
}

#entete {
    background-color: white;
    text-align: center;
    align-content: center;
}

#menu {
    background-color: lightblue;
    text-align: left;
}

#contenu {

}

#pied {
    background-color: yellow;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.sautligne {
    display: block;
    padding: 4px 2px;
    margin: 2px 0 20px 10px;
}
.kids{
    width: 70%;
    margin-left: auto;
    margin-right: 0px;
    text-align: left;
}
.border{
    height: 5px;
    background-color: black;
}